#home p { 
    border: 2px solid rgb(255, 255, 255);
    padding: 25px;
    border-radius:10px;
    background-color: #800000;
    width: 40%;
}

#exercise1 p,
    #nutrition1 p,
        #sleep1 p {
            border: 2px solid rgb(255, 255, 255);
            padding: 20px;
            border-radius: 10%;
            margin: 0;
            background-color: #800000;
        }
video {
    width: 70%; 
    height: auto; 
    display: block; 
    margin: 0 auto; 
}

h1,
P {
font-family: "Rubik Bubbles" cursive;
}


#modal {
position: fixed;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 250px;
background-color: #630000;
border: 1px solid #000000;
display: none;
padding: 15px;
box-sizing: border-box;
}
#subscribe {
background-color: rgb(104, 0, 0);
padding: 10px;
text-align: center;
cursor: pointer;

}

#subscribe:hover {
text-decoration: underline;
color: red;
}
#close-button {
text-align: right;
margin: 0px;
}
#font-modal {
font-family: "Rubik Bubbles", cursive;
}
   
   body  {
        font-family: "Montserrat", cursive;
        margin: 0;
    padding: 0;
    background-color: #ff0000; 
    color: #ffffff; 
      }

header {
    background-color: #990000; 
    color: white;
    padding: 1rem;
    text-align: center;
}

nav ul {
    padding: 0;
    text-align: center;
    
}

nav ul li {
    display: inline;
    margin-bottom: 20px;
}

@media only screen and (max-width: 600px) {
    nav ul li {
        display:inline;
        margin-bottom: 10px;
    }
}


nav ul li a {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 10px; 
    transition: background-color 0.3s; 
}

nav ul li a:hover {
    background-color: #ffffff; 
    color: #ff0000; 
}

nav ul li:not(:last-child):after {
    content: '|'; 
    margin: 0 2px;
    color: #ffffff;
}

.main-content {
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

.content-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.image-section,
.description-section {
    flex: 1;
}

.image-section img {
    max-width: 100%;
    height: auto;
    border-radius: 5px; 
}

footer {
    background-color: #990000; 
    color: white;
    text-align: center;
    padding: 1rem;
}

img {
    max-width: 20%;
    height: auto;
}




.dropdown {
    display: inline-block;
    position: relative;
}

.dropbtn {
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #412828;
    min-width: 160px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #555;
}

.dropdown:hover .dropdown-content {
    display: block;
}
#exercise {
    padding: 20px;
}

.exercise-category {
    margin-bottom: 30px;
}

.exercise-card {
    background-color: rgb(55, 0, 0);
    border: 2px solid #7f2121;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 20px;
    position: relative; 
    color: #fff; 
}

.exercise-card h4 {
    margin-top: 0;
}

.right-image {
    float: center;
}


